<template>
  <div id="nav-bar">
    <v-navigation-drawer
      v-model="drawer"
      app
    >
      <v-list>
        <v-list-tile
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-tile-content>
            <v-list-tile-title v-text="item.title" />
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar dark app color="primary">
      <v-toolbar-side-icon @click="drawer = !drawer" />
      <v-toolbar-title v-text="title" />
      <v-spacer />
      <!-- <template v-if="$auth.$state.loggedIn">
        <span class="display-flex display-centered">
          <v-menu offset-y>
            <template v-slot:activator="{ on }">
              <v-btn color="primary" dark v-on="on">
                Dropdown
              </v-btn>
            </template>
            <v-list>
              <v-list-tile v-for="(item, index) in items" :key="index" @click="$auth.logout()">
                <v-list-tile-title>{{ item.title }}</v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-menu>
        </span>
      </template> -->
    </v-toolbar>
  </div>
</template>

<script>
// import dotProp from 'dotprop'
export default {
  data() {
    return {
      title: 'myShopi',
      drawer: false,
      items: [
        {
          title: 'Home',
          to: '/',
        },
        {
          title: 'About',
          to: '/about',
        },
        {
          title: 'ApiCallWithToken',
          to: '/callApi',
        },
      ],
    };
  },
  computed: {
    // picture() {
    //   return (
    //     dotProp(this.$auth.user, 'picture') || // OpenID
    //     dotProp(this.$auth.user, 'picture.data.url') || // Facebook graph API
    //     dotProp(this.$auth.user, 'avatar_url')
    //   )
    // }
  },
};
</script>
