<template>
 <div>
    <div>
      <h1>External API</h1>
      <p>Ping an external API by clicking the button below.
      This will call the external API using an access token, and the API will validate it using
        the API's audience value.
      </p>

      <v-btn color="success" @click="callApi">Click on me for some magic</v-btn>
    </div>

    <div v-if="apiMessage">
      <h2>Result</h2>
      <p>{{ apiMessage }}</p>
    </div>
    <div v-if="accessToken">
    <h1>Acces token hidden not in localStorage hip hip hourra </h1>
    <p>{{ accessToken}} </p>
    <img src ="https://tse1.mm.bing.net/th?id=OIP.gdXIiCU4KiegaryOd29fAQHaHa&pid=15.1&P=0&w=300&h=300"><img>
    </div>

 </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'Api',
  data() {
    return {
      apiMessage: null,
      accessToken: null,
    };
  },
  methods: {
    async callApi() {
      const accessToken = await this.$auth.getAccessToken();
      this.accessToken = accessToken;

      try {
        const { data } = await axios.get('/api/external', {
          headers: {
            Authorization: `Bearer ${accessToken}`,
          },
        });

        this.apiMessage = data.msg;
      } catch (e) {
        this.apiMessage = `Error: the server responded with '${e.response.status}: ${e.response.statusText}'`;
      }
    },
  },
};
</script>
