<template>
  <v-app>
    <Layout/>
    <v-content>
      <router-view></router-view> <!-- Content of the page -->
    </v-content>
  </v-app>
</template>

<script>
import Layout from './layout/Default.vue';

export default {
  name: 'App',
  components: {
    Layout,
  },
};
</script>
